@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-all duration-200;
}

body {
  @apply bg-[#ffffff];
  width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   font-family: "Inter", sans-serif;
}
